
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Join Virtual Classes Now</h1>
        <p class="lead">Learn virtually, Teach virtually</p>
      </div>
    </div>
  </div>
</header>