
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Services</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et recusandae doloremque, adipisci quis, laborum porro voluptatem dignissimos nihil architecto voluptatibus nemo blanditiis tenetur neque deserunt tempore dolores delectus corporis quidem.</p>
      </div>
    </div>
  </div>
</header>